<div id="<%= dom_id cryptoasset %>">
  <p>
    <strong>Name:</strong>
    <%= cryptoasset.name %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= cryptoasset.description %>
  </p>

  <p>
    <strong>Ticker:</strong>
    <%= cryptoasset.ticker %>
  </p>

</div>
