<h1>Editing cryptoasset</h1>

<%= render "form", cryptoasset: @cryptoasset %>

<br>

<div>
  <%= link_to "Show this cryptoasset", @cryptoasset %> |
  <%= link_to "Back to cryptoassets", cryptoassets_path %>
</div>
